<apex:page id="WS_CommunitiesLogin" controller="WS_CommunitiesController" title="{!$Label.site.site_login}" showHeader="false" standardStylesheets="false" sidebar="false">
    <head>
    <title>Vyne Community</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta name="description" content="Working Solutions Community" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link href="{!URLFOR($Resource.bluemoon, 'css/bootstrap.min.css')}" rel="stylesheet" />
    <link href="{!URLFOR($Resource.bluemoon, 'css/new.css')}" rel="stylesheet" /> 
    <link href="{!URLFOR($Resource.bluemoon, 'css/charts-graphs.css')}" rel="stylesheet" />
    <link href="{!URLFOR($Resource.bluemoon, 'fonts/font-awesome.min.css')}" rel="stylesheet" />

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{!URLFOR($Resource.bluemoon, 'js/html5shiv.js')}"></script>
      <script src="{!URLFOR($Resource.bluemoon, 'js/respond.min.js')}"></script>
    <![endif]-->
    <style>
    header.community {
      background-color: #e4e4e4;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), color-stop(85%, #ebebeb), to(#cccccc));
      background-image: -webkit-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
      background-image: -moz-linear-gradient(top, #f2f2f2, #ebebeb 85%, #cccccc);
      background-image: -o-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
      background-image: linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
      background-repeat: no-repeat;
    }

    .community .publishercontainer .bottomBar {
        height: 50px;
    }
    
    .community ul#mini-nav li.list-box a i {
      color: #666;
    }
    
    .community header .logo img {
      max-height: 36px;
      margin-left: -6px;
      max-width: none;
    }
    
    .community ul#mini-nav li.list-box a {
      line-height: 32px;
    }
    
    body.community .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      font-family: 'Verdana','Geneva',sans-serif !important;
    }
    
    #myProfileDialog {
      width: 95%;
      max-width: 1056px;
    }
    
    #myProfile {
      width: 100%;
      min-height: 600px;
    }
    
    .community .metro-nav .metro-nav-block.double {
      width: 46%;
    }
    
    .community .wrapper {
      margin-bottom: 10px;
      padding: 5px;
      background: #e6e6e6;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    .community .dashboard-container {
      margin-top: 0;
    }
    .dashboard-container > .container {
      padding-top: 16px;
      background: #e4e4e4;
    }
    #blackboardframe {
      min-height: 850px;
      width: 100%;
      border: 0;
    }
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:100px;
    }  

    </style>
        <script type='text/javascript'>
    function noenter(ev)  {
        if (window.event && window.event.keyCode == 13 || ev.which == 13) {
            javascriptLogin();
            return false;
         } else {
              return true;
         }
     }
    </script>
    </head>
    <body style="background-position-x: -700px !important;background:url('/servlet/servlet.FileDownload?file=015V0000000E3Oo');">

          <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <center style="margin: 16px;">
              <img src="/servlet/servlet.ImageServer?id=015V0000000E4BC&oid=00DV00000088l44&lastMod=1431711574000" style='height:100%;'/>
              <br/>
              <h3 class="modal-title">COMMUNITY</h3>
            </center>
        </div>
          <div class="modal-body">
          <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <apex:form id="loginForm"> 
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <apex:inputText value="{!username}" styleClass="form-control" id="username" title="Please enter you username" />
                                  <!-- <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Username" />  -->
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <apex:inputSecret value="{!password}" styleClass="form-control" id="password" title="Please enter your password" />
                                  <!-- <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="Password" />  -->
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                              
                              <!-- <button type="submit" class="btn btn-success btn-block">Login</button> -->
                              <apex:commandButton styleClass="btn btn-success btn-block" value="Login" action="{!login}"/>
                              <p />
                              <p><a href='/secur/forgotpassword.jsp?locale=us&startURL=%2F'> Forgot Your Password? </a> </p>
                          
                          </apex:form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <img src='http://dl.dropboxusercontent.com/u/9766837/2dws.jpg' style="width:100%;height:260px" />
                  </div>
              </div>
        </div></div></div>
          
<script src="{!URLFOR($Resource.bluemoon, 'js/wysi/wysihtml5-0.3.0.min.js')}"></script>
  <script src="{!URLFOR($Resource.bluemoon, 'js/jquery.js')}"></script>
  <script src="{!URLFOR($Resource.bluemoon, 'js/bootstrap.min.js')}"></script>
  <script src="{!URLFOR($Resource.WS_FrontUI, 'jquery.psteps.js')}"></script> 
    </body>
</apex:page>