<apex:page controller="responsewise.MappingController">
<div style="padding-bottom: 30px; padding-top: 30px; display:{!if(showOtherWarning,'block','none')};">
<apex:image url="{!URLFOR($Resource.responsewise__warning)}" width="30" height="30" />
<apex:outputText value="{!otherWarning}"></apex:outputText>   
</div>
<div style="display:{!if(showOtherWarning,'none','block')};">
<apex:form >
<apex:actionFunction name="update" action="{!updateMapping}" rerender="OPMappings">
    <apex:param name="SFFieldName" value="" />
    <apex:param name="DSFieldID" value="" />
    <apex:param name="SFID" value="" />
</apex:actionFunction>
<apex:actionFunction name="changeobject" action="{!changeMappingObject}" rerender="OPMappings">
    <apex:param name="NewObject" value="" />
</apex:actionFunction>
<apex:pageBlock >
<apex:SelectList onchange="changeobject(this.value);" value="{!mappingObject}" multiselect="false" size="1">
<apex:selectOptions value="{!ObjectTypes}"></apex:selectOptions>
</apex:SelectList>
<apex:outputPanel id="OPMappings">
    <table class="MappingsTable">
    <tr>
        <td><b>Response Wise Field Name</b></td>
        <td>&nbsp;</td>
        <td><b>Salesforce Field</b></td>
    </tr>
    <apex:repeat value="{!Mapping}" var="maprow">
        <tr>
            <td>{!maprow.DSField}</td>   
            <td>&nbsp;</td>
            <td>
                <apex:selectList id="DSFieldSelect" onchange="update(this.value, '{!maprow.DSFieldID}', '{!maprow.mapdata.Id}');" value="{!maprow.mapdata.responsewise__FieldName__c}"  multiselect="false" size="1">
                    <apex:selectOptions value="{!SFFields}"></apex:selectOptions>
                </apex:SelectList>
            </td>


        </tr>
    </apex:repeat>
    </table>
</apex:outputPanel>
</apex:pageBlock>
</apex:form>
</div>
</apex:page>