<apex:page controller="responsewise.RWPageController">
<apex:includeScript value="{!URLFOR($Resource.responsewise__jquery181)}"/>
<script>var $j = jQuery.noConflict();</script>

<script type="text/javascript">
    window.addEventListener("message", receiveMessage, false);
 
    function receiveMessage(event)
    {
        if (event.origin !== "https://www.responsewise.com") {
            return;
        }
        var cancel = $j('[id$=cancelurl]').val();
        
        switch (event.data) {
        case 'cancel':
            window.location = cancel;
            break;
        case 'complete':        
            window.location = cancel;
            break;
        default:
            break;
        }
                
    }
    

</script>
<apex:form >
<apex:inputhidden id="cancelurl" value="{!CancelUrl}" />
</apex:form>
<apex:iframe height="700px" width="100%" scrolling="true" src="{!TargetURL}"/>  
</apex:page>